---
layout: default
title: About
section_id: about
skills:
  - title: Fitness & Nutrition
    percentage: 90
  - title: UI/UX Design
    percentage: 88
  - title: Frontend devloping
    percentage: 55
  - title: Psychological counseling
    percentage: 63
  - title: Product Management
    percentage: 70
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About me" color="#fff" tagline="Know something about me" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Welcome to 33's space:)</h3>
      <p>As an undergraduate with specialization in Sports Management , 33 not only gained knowledge related to sports and fitness，but learned psychology and design in some intern works as well. This strongly established her interdisciplinary background and molded her to get interested in human-centered design and technology.
        All these valuable experience have given her better understanding of real projects and equipped her with increasingly skilled techniques.
      </p>
      <p> She considers herself as a diligent and fast learner and she is well-equipped to face big challenges ahead.She aspires to positively affect people's lives with her designs.</p>
      <p>She is now looking for opportunities of projects or work.
        If your company or yourself needs a guy like her, please get in touch.</p>

      <a class='button small' href='https://issuu.com/33sun/docs/__________15630050301_xuanming1995_?e=25953737/30000297'>MY RESUME</a>
      <div class='spacing'></div>
    </div>

    <div class='medium-6 columns'>
      <h3>My skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>




