---
layout: default
title: About
section_id: about
skills:
  - title: Web Design
    percentage: 84
  - title: Web Development
    percentage: 95
  - title: Site Management
    percentage: 70
  - title: Branding
    percentage: 61
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
---

<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About us" color="#fff" tagline="Know something about our team" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>My history</h3>
      <p>reet dolore magna aliquam erat dunt ut laoreeet magna adipiscing.</p>
      <p>am tpat consectetuer sit amet magna adipiscing.</p>

      <a class='button small' href='https://www.instagram.com/33.sun/'>MY RESUME</a>
      <div class='spacing'></div>
    </div>

    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>




