---
layout: default
title: 33sun &gt; home
section_id: home
works:
  - image: work-1.jpg
    title: Reap Girls
    category: Design &amp; Keynote
  - image: work-2.jpg
    title: Aiyinfa Official Website
    category: Design &amp; Development
  - image: work-3.jpg
    title: Aiyinfa App
    category: Design &amp; Development
  - image: work-4.jpg
    title: Umbrella
    category: Design &amp; Development
  - image: work-6.jpg
    title: Good Products
    category: Product
  - image: work-5.jpg
    title: Instagram
    category: Photography
  - image: work-7.jpg
    title: Design Resources
    category: Design
  - image: work-8.jpg
    title: Vsport
    category: Design &amp; Development



bars:
  - title: Web design
    percent: 84
  - title: Web development
    percent: 50
  - title:  management
    percent: 70
  - title: Branding
    percent: 61


---

{% include slider.html %}

{% include whys.html %}

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-star'></i>
      <h2>Portfolio</h2>
      <p>My best and featured works so far</p>
      <p class='shortline'></p>
    </div>
  </div>
</div>

<ul class='gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4'>
  {% for work in page.works %}
    <li>
      <a>
        <img src='{{site.url}}/images/{{ work.image }}'>
        <div class='overlay'>
          <div class='thumb-info'>
            <h3>{{ work.title }}</h3>
            <p>{{ work.category }}</p>
          </div>
        </div>
      </a>
    </li>
  {% endfor %}
</ul>



<div class='full light-yellow'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Who am I</h2>
      <p>A sunshine girl.</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
        <span class='drop-letters'>I</span>
        am a collage student in CUPES.Transfer to NTSU in 2016.Love psychology,design,reading...
      </p>
      <p>
        Dreamer,psycher,kindler,designer
      </p>
    </div>
    <div class='medium-6 large-6 columns'>
      <ul class='bars'>
        {% for bar in page.bars %}
          <li>
            <h4>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>



{% include testimonials.html bg="bg-2" %}


{% include get-in-touch.html %}