<div class='links'>
  <h3>Categories</h3>
  <ul>
    <li>
      <a href='#'>UX Design</a>
    </li>
    <li>
      <a href='#'>Front-Ended</a>
    </li>
    <li>
      <a href='#'>Product</a>
    </li>
    <li>
      <a href='#'>Photography</a>
    </li>
    <li>
      <a href='#'>Fitness </a>
    </li>
    <li>
      <a href='#'>Diet</a>
    </li>
    <li>
      <a href='#'>Makeup</a>
    </li>
  </ul>
</div>
<div class='links'>
  <h3>Recent Posts</h3>
  <ul>
    <li>
      <a href='http://127.0.0.1:4000/design/development/2016/01/02/github.html'>HOW TO USE GITHUB？</a>
    </li>
    <li>
      <a href='http://127.0.0.1:4000/logo/development/2015/04/14/ist.html'>MAGIC INTRODUCTORY AND ADVANCED GUIDE FOR KEYNOTE</a>
    </li>
  </ul>
</div>
<!-- <div class='links'>
  <h3>Tags</h3>
  <ul>
    <li>
      <a href='#'>UX design</a>
    </li>
    <li>
      <a href='#'>Product</a>
    </li>
    <li>
      <a href='#'>Fitness</a>
    </li>
    <li>
      <a href='#'>Photography</a>
    </li>
    <li>
      <a href='#'>Diet</a>
    </li>
    <li>
      <a href='#'>Makeup</a>
    </li>
  </ul>
</div> -->